<div class="admin-manage-word">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Word</th>
                <th scope="col">Mean</th>
                <th scope="col">Description</th>
                <th scope="col">Topic</th>
                <th scope="col">Image</th>
                <th><a href="/admin/manage/words/trash">Trash</a></th>
            </tr>
        </thead>
        <tbody>
            <% if(!flag){ %>
                <tr>
                    <td colspan="5">
                        <div class="empty-notifi">
                            <span>Word list is null </span>
                            <a href="/admin/create-word">create word </a>
                            <span>or </span>
                            <a href="/admin/manage/words/trash"> go to trash</a>
                        </div>
                    </td>
                </tr>
                <% }else{ %>
                    <% words.forEach((word, index)=>{ %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= word.word %>
                            </td>
                            <td>
                                <%= word.mean %>
                            </td>
                            <td>
                                <%= word.description %>
                            </td>
                            <td>
                                <%= word.topic %>
                            </td>
                            <td>
                                <img class="table-image" src="<%= word.image %>" alt="error">
                            </td>
                            <td>
                                <a class="btn-link" href="/admin/manage/words/<%= word._id %>/update">Update</a>
                                <form method="POST" action="/admin/manage/words/<%= word._id %>/delete?_method=PATCH"
                                    name="hidden-form-delete">
                                    <a class="submit-sort-delete" type="submit" class="btn-link" href="">Delete</a>
                                </form>
                            </td>
                        </tr>
                        <% }); } %>
        </tbody>
    </table>
</div>
<script>
    $('.submit-sort-delete').click(function (e) {
        e.preventDefault();
        $(this).parent().submit();
    });
</script>